<div class="carousel-wrapper">
    <div class="carousel">

        <%= image_tag("brand_anais.jpg", :class => "carousel__photo initial") %>
        <%= image_tag("ad_1.jpg", :class => "carousel__photo") %>
        <%= image_tag("ad_2.jpg", :class => "carousel__photo") %>
        <%= image_tag("Logo.png", :class => "carousel__photo") %>
        <%= image_tag("Logo.png", :class => "carousel__photo") %>

        <div class="carousel__button--next"></div>
        <div class="carousel__button--prev"></div>

    </div>
</div>

<%= javascript_include_tag 'carousel' %>
